<p id="notice"><%= notice %></p>

<h1>Ruis</h1>

<table>
  <thead>
    <tr>
      <th>Knowledge</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruis.each do |rui| %>
      <tr>
        <td><%= rui.knowledge %></td>
        <td><%= rui.time %></td>
        <td><%= link_to 'Show', rui %></td>
        <td><%= link_to 'Edit', edit_rui_path(rui) %></td>
        <td><%= link_to 'Destroy', rui, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rui', new_rui_path %>
