<p id="notice"><%= notice %></p>

<p>
  <strong>Knowledge:</strong>
  <%= @rui.knowledge %>
</p>

<p>
  <strong>Time:</strong>
  <%= @rui.time %>
</p>

<%= link_to 'Edit', edit_rui_path(@rui) %> |
<%= link_to 'Back', ruis_path %>
